* {
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #E5E5E5;
}

/* ===== close-button ===== */
button#close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-image: url("./assets/icon-close.svg");
  border: none;
  background-color: inherit;
  cursor: pointer;
}

/* ===== modal ===== */
.modal {
  position: relative;
  width: 700px;
  height: 216px;
  background-color: #fff;
  border-radius: 4px;
  padding: 32px 40px;
  text-align: center;
}
.modal h1 {
  color: #1F2D3D;
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 4px;
}
.modal p {
  color: #273444;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
}

.input-group input {
  width: 200px;
  color: #8492A6;
  background-color: #F6F8FA;
  border: none;
  border-radius: 4px;
  padding: 8px 0 8px 16px;
  margin-right: 8px;
}
.input-group button {
  background-color: #2860E1;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #fff;
  padding: 8px 14px;
}